braintree==3.25.0
colorama==0.3.7
Django==1.9.5
django-allauth==0.25.2
django-debug-toolbar==1.4
django-ipware==1.1.5
django-cors-headers==1.1.0
django-crispy-forms==1.6.0
django-filter==0.13.0
djangorestframework==3.3.3
djangorestframework-jwt==1.8.0
httpie==0.9.3
Markdown==2.6.6
Pillow==3.2.0
Pygments==2.0.2
PyJWT==1.4.0
requests==2.9.1
xmltodict==0.10.1
dj-database-url #heroku 
dj-static #heroku
django-toolbelt #heroku
gunicorn #heroku
psycopg2 #heroku
redis # for django session caching
django-redis-cache #for django session caching