{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">

    <title>Share your video - {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}"  rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="{% static 'js/modernizr.js' %}"></script>
  </head>

  <body>
{% include 'navbar.html' %}

{% block content %}
{% endblock %}


{% include 'footer.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script src="http://fast.wistia.net/assets/external/E-v1.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/retina-1.1.0.js' %}"></script>
		<script src="{% static 'js/jquery.hoverdir.js' %}"></script>
		<script src="{% static 'js/jquery.hoverex.min.js' %}"></script>
		<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
  	<script src="{% static 'js/jquery.isotope.min.js' %}"></script>
  	<script src="{% static 'js/custom.js' %}"></script>

    <script>
    $(document).ready(function(){
    	{% block jquery %}
    	{% endblock %}
    });
    </script>
    
    <script>
    $(document).ready(function(){
    	// .dropdown-toggle is a class
      $(".dropdown-toggle").click(function(e){
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "{% url 'get_notifications_ajax' %}",
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function(data){
          	// #notification_dropdown is a id
            $("#notification_dropdown").html('<li role="presentation" class="dropdown-header">Notifications</li>');
            var count = data.count
            console.log(count)
            // check if there are notifications, if no, print out link to all notifications
            if (count == 0) {
            	$("#notification_dropdown").html('<li role="presentation" class="dropdown-header">No new notifications</li>');
              var url = '{% url "notifications_all" %}'
              $("#notification_dropdown").append("<li><a href='" + url+ "'>View All Notifications</a></li>")
             // if we have notification, iterate over it
            } else {
              $(data.notifications).each(function(){
              	// take each link, this refers to the current iteration
                var link = this;
                $("#notification_dropdown").append("<li>" + link + "</li>")
              })
            }
            // for debug purpose
            console.log(data.notifications);
          },
          error: function(rs, e) {
            // for debug purpose, log any errors
            console.log(rs);
            console.log(e);
          }
        })
      })
    })
    </script>
    
    <script>
	// Portfolio
	(function($) {
		"use strict";
		var $container = $('.portfolio'),
			$items = $container.find('.portfolio-item'),
			portfolioLayout = 'fitRows';
			
			if( $container.hasClass('portfolio-centered') ) {
				portfolioLayout = 'masonry';
			}
					
			$container.isotope({
				filter: '*',
				animationEngine: 'best-available',
				layoutMode: portfolioLayout,
				animationOptions: {
				duration: 750,
				easing: 'linear',
				queue: false
			},
			masonry: {
			}
			}, refreshWaypoints());
			
			function refreshWaypoints() {
				setTimeout(function() {
				}, 1000);   
			}
					
			$('nav.portfolio-filter ul a').on('click', function() {
					var selector = $(this).attr('data-filter');
					$container.isotope({ filter: selector }, refreshWaypoints());
					$('nav.portfolio-filter ul a').removeClass('active');
					$(this).addClass('active');
					return false;
			});
			
			function getColumnNumber() { 
				var winWidth = $(window).width(), 
				columnNumber = 1;
			
				if (winWidth > 1200) {
					columnNumber = 5;
				} else if (winWidth > 950) {
					columnNumber = 4;
				} else if (winWidth > 600) {
					columnNumber = 3;
				} else if (winWidth > 400) {
					columnNumber = 2;
				} else if (winWidth > 250) {
					columnNumber = 1;
				}
					return columnNumber;
				}       
				
				function setColumns() {
					var winWidth = $(window).width(), 
					columnNumber = getColumnNumber(), 
					itemWidth = Math.floor(winWidth / columnNumber);
					
					$container.find('.portfolio-item').each(function() { 
						$(this).css( { 
						width : itemWidth + 'px' 
					});
				});
			}
			
			function setPortfolio() { 
				setColumns();
				$container.isotope('reLayout');
			}
				
			$container.imagesLoaded(function () { 
				setPortfolio();
			});
			
			$(window).on('resize', function () { 
			setPortfolio();          
		});
	})(jQuery);
</script>
  </body>
</html>
