{% load staticfiles %}

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">content-publisher</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">HOME</a></li>
            <li><a href="{% url 'categories' %}">CATEGORIES</a></li>
            <!--<li><a href="about.html">ABOUT</a></li>-->
          {% if user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">NOTIFICATIONS<b class="caret"></b></a>
                <ul class="dropdown-menu" id="notification_dropdown">
                </ul>
              {% if user.username == 'paveu' %}
              <li><a href="/admin/">ADMINISTRATION</a></li>
              {% endif %}
              <li><a href="{% url 'account_dashboard' %}">DASHBOARD</a></li>
              <li><a href="{% url 'account_upgrade' %}">EXTEND MEMBERSHIP</a></li>
              <li><a href="{% url 'account_logout' %}">SIGN OUT</a></li>
            {% else %}
              <li><a href="{% url 'account_signup' %}">REGISTER</a></li>
              <li><a href="{% url 'account_login' %}">SIGN IN</a></li>
            {% endif %}
              <li><a href="{% url 'contact_us' %}">CONTACT</a></li>

            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

