{% extends "base.html" %}
{% block title %}{% endblock %}

{% block jumbotron %}
<div class='container-fluid'>
	<div class='jumbotron'>
		<div class='container'>
		    <div class='row'>
		        <div class='col-sm-6'>
		            <h1>{{ cat.title }}</h1>
				</div>
		        <div class='col-sm-6'>
		           <img src="{{ cat.get_image_url }}" class='img-responsive'/>
		        </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class='col-sm-8 col-sm-offset-2'>
    {% if all_videos %}
	<table class='table'>
		<thead>
			<th>#</th>
			<th>Title</th>
		</thead>
		{% for video in all_videos %}
		<tr>
			<td>{{ forloop.counter }}</td> 
			<td>{% if request.user.is_authenticated or video.has_preview %}<a href='{{ video.get_absolute_url }}'>{{ video }}</a>{% else %}{{ video }}{% endif %}</td>
		    <br/>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	 <h3 style='text-align:center;'>Project is coing soon</h3>
	{% endif %}
</div>
{% endblock %} 