{% extends "base.html" %}
{% block title %}{% endblock %}

{% block content %}
	<!-- *****************************************************************************************************************
	 PORTFOLIO SECTION
	 ***************************************************************************************************************** -->
	 <div id="portfoliowrap" style='width: 50%; margin: 0 auto; margin-top: 50px; margin-bottom: 50px;'>
        <h3>Videos</h3>

        <div class="portfolio-centered">
            <div class="recentitems portfolio">
				{% for item in all_videos %}
						<div class="portfolio-item books">
		                	<div class="he-wrap tpl6">
								<img src="{{ item.get_image_url }}" alt="">
								<div class="he-view">
									<div class="bg a0" data-animate="fadeIn">
		                                <h3 class="a1" data-animate="fadeInDown">{{ item }}</h3>
		                                <!--<a data-rel="prettyPhoto" href="{{ item.get_image_url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>-->
		                                <a href="{{ item.get_absolute_url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
		                        	</div><!-- he bg -->
								</div><!-- he view -->		
							</div><!-- he wrap -->
						</div><!-- end col-12 -->
               	{% endfor %}
            </div><!-- portfolio -->
        </div><!-- portfolio container -->
	 </div><!--/Portfoliowrap -->

{% endblock %}
