{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
<div class='row' style='text-align:center; margin-top: 150px; margin-bottom: 150px;'>
	<div class='col-sm-12'>
		<h1>{{ title }}</h1>
	</div>
	<div class='col-sm-4 col-sm-offset-4'>
	  <form id="signup_form" method="post" action="{% url 'account_login' %}">
	    {% csrf_token %}
	    {{ form|crispy }}
		<input class='btn btn-default btn-block btn-large btn-success' type='submit' value='Login' />
	  </form>
	</div>
    <p align="center">If you want to sign up then click <a href="{% url 'account_signup' %}">here</a> or if you want to recover your password click <a class="btn" href="{% url 'account_reset_password' %}">here</a> </p>
	<br />
    <p align="center">If you want to log in with Facebook account then use below button</p>
    <a class='btn btn-facebook btn-block' href='{% provider_login_url "facebook" method="oauth2" %}'>
        <button type="button" class='btn btn-default btn-block btn-large btn-primary' class='fa fa-facebook-square' >
        		<i class='fa fa-facebook-square' style='color:white;'></i> Log in with Facebook
        </button>
    </a>
</div>
{% endblock %}

