{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
<div class='row' style='text-align:center; margin-top: 150px; margin-bottom: 150px;'>
	<div class='col-sm-12'>
		<h1>{{ title }}</h1>
	</div>
	<div class='col-sm-4 col-sm-offset-4'>
	  <form id="signup_form" method="post" action="{% url 'account_signup' %}">
	    {% csrf_token %}
	    {{ form|crispy }}
		<input class='btn btn-default btn-block btn-large btn-success' type='submit' value='Register' />
	  </form>
	</div>
	<p align="center">If you create an account with Facebook then you will have to use Facebook authentication.</p>
	<p align="center">Regular site authentication won't work.</p>
    <a class='btn btn-facebook btn-block' href='{% provider_login_url "facebook" method="oauth2" %}'>
         <button type="button" class='btn btn-default btn-block btn-large btn-primary' class='fa fa-facebook-square' >
        		<i class='fa fa-facebook-square' style='color:white;'></i> Join with Facebook
        </button>
    </a>
    <br />
</div>
{% endblock %}

