{% extends "base.html" %}
{% block content %}

<div class='row' style='width: 75%; margin: 0 auto; margin-top: 100px; margin-bottom: 100px;'>
	<div class='col-sm-12'>
		<h2>Account</h2>
		<hr/>
	</div>

	<div class='col-sm-12'>
		<h3>Notifications <small><a href='{% url "notifications_all" %}'>View All</a></small></h3>
		<table class='table'>
			{% if notifications %}
				{% for note in notifications %}
					<tr>
						<td>{{ note|safe }}</td><td>{% if note.read %} Read {% else %} Unread {% endif %}</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td>No notifications</td>
				</tr>			
			{% endif %}
		</table>
	</div>

	<div class='col-sm-12'>
		<hr/>
		<h3>Account Options</h3>
		<p class='lead'>
			{% if request.user.is_member %}
				Account active until: <b>{{ request.user.membership.date_end }}</b>
			{% endif %}
		</p>
		{% if request.user.is_member and request.user.usermerchantid.subscription_id %}
			<a href='{% url "braintree_cancel_subscription" %}'>Braintree cancel membership</a>
		{% elif not request.user.is_member %}
			<a href='{% url "account_upgrade" %}'>Upgrade to Membership</a>
		{% else %}
	
		{% endif %}
	</div>
</div>

<div class='row' style='width: 75%; margin: 0 auto; margin-top: 100px; margin-bottom: 100px;'>
	<div class='col-sm-12'>
		<hr/>
		<h3>Recent Billing History (last three transactions for each payment system)
		<small>
			<a href='{% url "billing_history" %}'>View All</a>
		</small>
		</h3>
	</div>
	<div class='col-sm-12'>
		<h4>Braintree payments history in USD</h4>

	    <table class='table'>
	    <thead>
	        <th>Order #</th>
	        <th>Amount</th>
	        <th>Payment Method</th>
	        <th>Date</th>
	    </thead>
	    {% for object in braintreeHistory %}
	        <tr>
		        <td>{{ object.order_id }}</td>
	            <td>${{ object.amount }}</td>
	            <td>{{ object.card_type }}{% if object.last_four %}<br />Last Four Digits: {{ object.last_four }} {% endif %}</td>
		        <td>{{ object.timestamp }}</td>
	        </tr>
	    {% endfor %}
	    </table>
	</div>
	<div class='col-sm-12'>
		<h4>Payu payments history $25 exchanged into PLN(Polish Zloty)</h4>
	    <table class='table'>
	    <thead>
	        <th>Order #</th>
	        <th>Amount</th>
	        <th>Payment Method</th>
	        <th>Date</th>
	        <th>Transaction status</th>
	    </thead>
	    {% for object in payuHistory %}
	        <tr>
		        <td>{{ object.order_id }}</td>
	            <td>{{ object.amount }}PLN</td>
	            <td>Bank transfer</td>
		        <td>{{ object.timestamp }}</td>
		        <td>{{ object.transaction_status }}</td>
	        </tr>
	    {% endfor %}
	    </table>
	</div>

</div>
{% endblock %}