{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}

{% block content %}
<div class='row' style='text-align:center; margin-top: 150px; margin-bottom: 150px;'>
	<div class='col-sm-12'>
		<h1>{{ title }}</h1>
	</div>
	<div class='col-sm-4 col-sm-offset-4'>
		<form method='POST' action='{{ action_url }}'> {% csrf_token %}
			{{ form|crispy }}
			<input class='btn btn-default btn-block btn-large btn-success {{ submit_btn_class }}' type='submit' value='{{ submit_btn }}' />
		</form>
        <br />
        {% if title == 'Login' %}
	        <p align="center">If created an account with Facebook then use below button</p>
	        <a class='btn btn-facebook btn-block' href='{% provider_login_url "facebook" method="oauth2" %}'>
	            <button type="button" class='btn btn-default btn-block btn-large btn-primary' class='fa fa-facebook-square' >
	            		<i class='fa fa-facebook-square' style='color:white;'></i> Log in with Facebook
	            </button>
	        </a>
        {% elif title == 'Register' %}
        	<p align="center">If you create an account with Facebook then you will have to use Facebook authentication.</p>
        	<p align="center">Regular site authentication won't work.</p>
            <a class='btn btn-facebook btn-block' href='{% provider_login_url "facebook" method="oauth2" %}'>
	             <button type="button" class='btn btn-default btn-block btn-large btn-primary' class='fa fa-facebook-square' >
	            		<i class='fa fa-facebook-square' style='color:white;'></i> Join with Facebook
	            </button>
	        </a>
            <br />        
        {% endif %}
	</div>
</div>
{% endblock %}

