{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

	<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-md-6">
					<h3>Sell out your videos</h3>
					<h1>Start making money!</h1>
					<h5>Start today!</h5>
					<!--<img src="{% static 'img/browser.png' %}" class="img-responsive">-->
				</div>
				<div class="col-md-6">
			        <div role="tabpanel">
			              <!-- Nav tabs -->
			              <ul class="nav nav-tabs nav-tabs-jumbotron" role="tablist">
			                <li role="presentation" class="active">
			                	<a href="#register" aria-controls="register" role="tab" data-toggle="tab">Register</a></li>
			                <li role="presentation">
			                	<a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
			              </ul>
			              <!-- Tab panes -->
			              <div class="tab-content">
				                <div role="tabpanel" class="tab-pane active" id="register">
				                    <div class="panel panel-jumbotron panel-default">
				                          <div class="panel-body">
				                                <form method='POST' action='{% url "register" %}'>{% csrf_token %}
				                                    {{ register_form|crispy }}
				                                    <input class='btn btn-default btn-block btn-large' type='submit' value='Register' />
				                                </form>
				                                <br />
				                                <p>By registering you agree to our <a href='#'>terms</a></p>
				                          </div>
				                    </div>
				
				                </div> 
				                <div role="tabpanel" class="tab-pane" id="login">
				                    <div class="panel panel-jumbotron panel-default ">
				                          <div class="panel-body">
				                                <form method='POST' action='{% url "login" %}'>{% csrf_token %}
				                                    {{ login_form|crispy }}
				                                    <input class='btn btn-default btn-block btn-large' type='submit' value='Login' />
				                                </form>
				                          </div>
				                	</div>
				               </div>
			              </div>
			         </div>

				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->

	<!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->
	 <div id="service">
	 	<div class="container">
 			<div class="row centered">
 				<div class="col-md-4">
 					<i class="fa fa-heart-o"></i>
 					<h4>Handsomely Crafted</h4>
 					<p>All Videos are made by professionals in IT</p>
 					<p><br/><a href="#" class="btn btn-theme">More Info</a></p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-flask"></i>
 					<h4>Up-to-dated</h4>
 					<p>You may excpect to receive lots of updated to videos</p>
 					<p><br/><a href="#" class="btn btn-theme">More Info</a></p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-trophy"></i>
 					<h4>Video high quality</h4>
 					<p>All the work made hare is delivered with high quality, 1080p resolution</p>
 					<p><br/><a href="#" class="btn btn-theme">More Info</a></p>
 				</div>		 				
	 		</div>
	 	</div><! --/container -->
	 </div><! --/service -->

	<!-- *****************************************************************************************************************
	 PORTFOLIO SECTION
	 ***************************************************************************************************************** -->
	 <div id="portfoliowrap" style='width: 50%; margin: 0 auto; margin-top: 50px; margin-bottom: 50px;'>
        <h3>Latest videos</h3>

        <div class="portfolio-centered">
            <div class="recentitems portfolio">
				{% for item in latest_vids %}
						<div class="portfolio-item books">
		                	<div class="he-wrap tpl6">
								<img src="{{ item.get_image_url }}" alt="">
								<div class="he-view">
									<div class="bg a0" data-animate="fadeIn">
		                                <h3 class="a1" data-animate="fadeInDown">{{ item }}</h3>
		                                <!--<a data-rel="prettyPhoto" href="{{ item.get_image_url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>-->
		                                <a href="{{ item.get_absolute_url }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
		                        	</div><!-- he bg -->
								</div><!-- he view -->		
							</div><!-- he wrap -->
						</div><!-- end col-12 -->
               	{% endfor %}
            </div><!-- portfolio -->
        </div><!-- portfolio container -->
	 </div><!--/Portfoliowrap -->

	 
	<!-- *****************************************************************************************************************
	 MIDDLE CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-4 col-lg-offset-1">
		 		<h4>More about project</h4>
		 		<p>This project was started to share thoughts/ideas/knowledge by making videos</p>
 				<p><br/><a href="about.html" class="btn btn-theme">More Info</a></p>
	 		</div>
	 		
	 		<div class="col-lg-3">
	 			<h4>Frequently Asked</h4>
	 			<div class="hline"></div>
	 			<p><a href="#">How to buy premium account?</a></p>
	 			<p><a href="#">How to be cool?</a></p>
	 			<p><a href="#">How this website was made?</a></p>
	 			<p><a href="#">Where to start?</a></p>
	 			<p><a href="#">How to donate?</a></p>
	 		</div>
	 		
	 		<div class="col-lg-3">
	 			<h4>Latest Posts</h4>
	 			<div class="hline"></div>
	 			<p><a href="single-post.html">First Note after being one year in the market</a></p>

	 		</div>
	 		
	 	</div><! --/row -->
	 </div><! --/container --
{% include 'testimontials.html' %}

{% endblock %}
